<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Nosotros</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/Styles/styletwo.css'>
    <script src='main.js'></script>
</head>
<body>
    <header>
        <img class="imgLogo" src="/Images/logo.jpeg"> 
        <i class="fas fa-cart-plus"></i>
      </header>
      <div class="space"></div>
      <div class="navigate">
          <ul>
            <li><a href="/index.html">Inicio</a></li>
            <li><a class="active" href="/Templates/Nosotros.html">Nosotros</a></li>
            <li><a href="/Templates/Contactenos.html">Contactanos</a></li>
            <li><a  href="/Templates/TuCarrito.html">Tu carrito</a></li>
          </ul>
      </div>
    
</body>
</html>